#!/usr/bin/make -f

build:
	dh $@

clean:
	dh $@

install: build
	dh $@ --before dh_installinit
	dh_installinit --no-start -- start 05 2 3 4 5 . stop 05 0 6 .
	dh $@ --after dh_installinit

binary-indep: install
	dh $@

binary-arch: install
	#dh $@

binary: binary-indep binary-arch
